body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0; }

ol {
  list-style-type: none; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 12px; }

.construction-page {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .construction-page__title {
    text-align-last: center;
    width: 100%;
    background-color: yellow;
    border-bottom: solid 8px black;
    border-top: solid 10px black;
    color: yellow;
    text-shadow: 1px 1px 0px black,  -1px -1px 0px black, -1px 1px 0px black, 1px -1px 0px black; }
  .construction-page__image {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 10px; }
    .construction-page__image--signal {
      height: 100px;
      width: 100px; }
    .construction-page__image--dog {
      height: 400px;
      width: 400px; }
    .construction-page__image img {
      height: auto;
      border-radius: 6%; }
  .construction-page__message {
    width: 100%;
    background-color: yellow;
    text-align: center;
    padding: 2% 0;
    border-top: solid 10px black; }
    .construction-page__message h3 {
      font-weight: bold; }
    .construction-page__message h5 {
      font-style: italic; }

.header_logo {
  border-radius: 50%;
  margin: 10px; }

.main-container {
  background-image: url(../img/background.jfif);
  background-repeat: repeat;
  display: flex;
  gap: 2em;
  flex-direction: column; }
  .main-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #2f1249;
    font-size: 200%;
    font-weight: bold; }
    .main-container .title h1 {
      margin: 0; }
    .main-container .title-container {
      background-color: #ffffffad;
      border-radius: 8px;
      padding: 10px;
      margin: 20px; }
    .main-container .title-simbols {
      color: orangered; }
    .main-container .title-com {
      font-size: 70%; }
  .main-container .principal_section {
    display: flex;
    justify-content: center; }
  .main-container .cards_container {
    display: grid;
    justify-items: center;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); }
  .main-container .caracteristicas_main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%; }
    .main-container .caracteristicas_main-container h1 {
      color: black;
      background-color: rgba(255, 255, 255, 0.68);
      border-radius: 6%; }
    .main-container .caracteristicas_main-container h3 {
      color: black;
      background-color: rgba(255, 255, 255, 0.68);
      border-radius: 6%; }
    .main-container .caracteristicas_main-container p {
      color: black;
      background-color: rgba(255, 255, 255, 0.68);
      border-radius: 6%;
      padding: 10px; }
    .main-container .caracteristicas_main-container img {
      max-width: 30%;
      max-height: 30%; }
  .main-container .multimedia-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-container .multimedia-container__title {
      color: black;
      background-color: rgba(255, 255, 255, 0.68);
      padding: 0 5px;
      border-radius: 6%;
      margin: 10px 0; }
    .main-container .multimedia-container .video-container {
      max-width: fit-content; }
  .main-container .cuidados__title--container {
    color: black;
    background-color: rgba(255, 255, 255, 0.68);
    padding: 0 5px;
    border-radius: 6%;
    margin: 10px 0; }
  .main-container .cuidados__text--container {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 6%;
    padding: 10px; }
    .main-container .cuidados__text--container ul {
      list-style-type: circle; }

@keyframes reducirNavbar {
  0% {
    height: 200px; }
  100% {
    height: 70px; } }

@keyframes reducirImgNavbar {
  0% {
    height: 180px; }
  100% {
    height: 60px; } }

.navbar {
  height: 500px;
  background-color: #333;
  animation: reducirNavbar 2s forwards; }
  .navbar img {
    height: 500px;
    animation: reducirImgNavbar 2s forwards; }
