.main-container {
    background-image: url(../img/background.jfif);
    background-repeat: repeat;
    display: flex;
    gap: 2em;
    flex-direction: column;

  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(47, 18, 73);
    font-size: 200%;
    font-weight: bold;
  
    h1 {
      margin: 0;
    }
  
    &-container {
      background-color: #ffffffad;
      border-radius: 8px;
      padding: 10px;
      margin: 20px;
  
      &-simbols {
        color: orangered;
      }
  
      &-com {
        font-size: 70%;
      }
    }
  }
    
  .principal_section {
    display: flex;
    justify-content: center;
  }
  
  .cards_container {
    display: grid;
    justify-items: center;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  
  .caracteristicas_main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
  
    h1 {
      background-color: #ffffff11;
      border-radius: 6%;
    }
  
    h3 {
      background-color: #ffffff11;
      border-radius: 6%;
    }
  
    p {
      background-color: #ffffff11;
      border-radius: 6%;
    }
    img {
      max-width: 30%;
      max-height: 30%;
    }
  }

  .multimedia-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      color: $font-color;
      background-color: $font-backgroud-color;
      padding: 0 5px;
      border-radius: 6%;
      margin: 10px 0;
    }

    .video-container {
      max-width: fit-content;
  }

  }
}
